body{
	margin: 0;
	padding: 0;
}

.logo{
	width: 80%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.logo svg{
	width: 100%;
}


#linea {
	animation: typing 1200ms infinite;
}

@keyframes typing{
	0%{
		opacity: 0;
	}


	100%{
		opacity: 1;
	}
}